<h1>New Book</h1>

<form action="/books/upsert" role="form" method="post">
<input type="hidden" name="_csrf" value="{{_csrfToken}}">
{{#if book}}
    <div>
      <h2>{{book.title}}</h2>
      <input type="hidden" name="id" value="{{bookIndex}}">
    </div>
  {{/if}}

  <div>
    <label for="title">book title</label>
    <input type="text" id="title" name="title" {{#if book}}value="{{book.title}}"{{/if}}>
  </div>

  <div>
    <label for="year">publishingYear</label>
    <input type="number" id="year" name="publishingYear" {{#if book}}value="{{book.publishingYear}}"{{/if}}>
  </div>

   <div class="mb-3">
    <label for="authorId">Written by</label>
    <select name="authorId" id="authorId">
      <option disabled selected value>-- select Author --</option>
      {{#each authors}}
        <option value="{{@index}}" {{#if (and @root.book (eq @root.book.authorId @index))}}selected{{/if}}>
          {{this.firstName}} {{this.lastName}}
        </option>
      {{/each}}
    </select>
  </div>

 <div>
    <label for="commentId">Comment</label>
  <textarea type="text" id="commentId" name="commentId" {{#if commentId}}value="{{commentId}}"{{/if}}></textarea>
  <div>
    {{#if comments}}
      {{#each comments}}
        <span>
          {{this.text}}
        </span>
        <br/>
      {{/each}}
  {{/if}}
  </div>
</div>
  
<button type="submit" class="btn btn-primary">Submit</button>
</form>