<form action="/comments/upsert" role="form" method="post">
{{#if comment}}
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">

  <div>
    <h2>{{comment.commentId}} {{comment.name}}</h2>
    <input type="hidden" name="id" value="{{commentIndex}}">
  </div>
  {{/if}}

  <div>
    <label for="name">Comment</label>
    <input type="text" id="name" name="name" required>
  </div>

  <div>
    <label for="bookId">Select Book</label>
    <select id="bookId" name="bookId">
      <option value="">-- Select a Book --</option>
      {{#each books}}
        <option value="{{this.id}}">{{this.title}}</option>
      {{/each}}
    </select>
  </div>

<ul>
  {{#each books}}
    <li>
      <h2>{{this.title}}</h2>
      <p>Published in {{this.publishingYear}}</p>
      <p>Authors:
        {{#each this.authorIds}}
          {{#if @index}}, {{/if}}
          {{lookup ../authors this.firstName}} {{lookup ../authors this.lastName}}
        {{/each}}
      </p>
      <p>Genre: {{lookup ../genres this.genreId}}</p>
      <a href="/books/edit/{{@index}}">Edit</a>
    </li>
  {{/each}}
</ul>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>