<h1>{{comment.name}}</h1>

{{#if comment}}
  <p>Comment: {{comment.name}}</p>
{{/if}}

<!-- Display the associated books -->
{{#if books.length}}
  <h2>Books in {{comment.name}}</h2>
  <ul>
    {{#each books}}
      <li>{{this.title}} (Published in {{this.publishingYear}})</li>
    {{/each}}
  </ul>
{{else}}
  <p>No books found for this comment.</p>
{{/if}}

